<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>micropolis</string>
    <key>CFBundleIconFile</key>
    <string>Micropolis.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.micropolis.Micropolis</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Micropolis</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>Mcps</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>NSAppleScriptEnabled</key>
    <string>NO</string>
</dict>
</plist>
